:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --btm-color: #2196f3;
  --main-color: #212121;
  --features-margtop: 10px;
  --features-margleft: 30px;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
a,
p,
li {
  display: block;
}

ul,
ol,
p {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 93px;
}

.logo__web {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__studio {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__footer-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  padding: 0px;
  display: block;
  margin: 0px;
  height: 100%;
}

.address__list {
  display: block;
  margin: auto;
  padding: 0px;
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link_geo {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link_mail-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-active {
  padding-top: 12px;
  margin-left: 93px;
}

.footer-active__title {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-active__mail {
  display: flex;
  margin-top: 20px;
}

.footer-active__user-mail {
  width: 358px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.footer-active__btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--btm-color);
  border-color: var(--btm-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-active__btn:focus {
  background-color: #188ce8;
}

.footer-active__btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  max-height: 80px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  display: flex;
  padding-left: 0;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item {
  position: relative;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--btm-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 1;
}

.contact {
  margin: 0px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail:hover, .contact__mail:focus {
  color: var(--btm-color);
  fill: var(--btm-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon_mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tel:hover, .contact__tel:focus {
  color: var(--btm-color);
  fill: var(--btm-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon_tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-bottom: 94px;
}

.hero-area {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-area__title {
  margin: auto;
  padding-top: 200px;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-area__btn {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-bottom: 200px;
  border-radius: 4px;
  border-color: var(--btm-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--btm-color);
  color: white;
}

.features {
  padding: 0%;
}

.features-area {
  margin-bottom: 94px;
}

.features-area__list {
  margin: 0px;
  padding-left: 0px;
  /*margin-top: (-1 * var(--features-margtop));*/
  display: flex;
}

.features-area__item:not(:last-child) {
  margin-right: 30px;
}

.features-area__link {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-area__icon {
  width: 70px;
  height: 70px;
}

.features-area__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-area__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-area {
  text-align: center;
}

.about-area__list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
  padding-left: 0px;
}

.about-area__link:not(:last-child) {
  padding-right: 30px;
}

.about-area__link {
  position: relative;
}

.about-area__text-container {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.about-area__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-area__title {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-area__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -50px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.team-area__item {
  flex-basis: calc((100% / 4) - 30px);
  margin-right: 30px;
  margin-top: 50px;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-area__info-container {
  margin-top: 30px;
  text-align: center;
}

.team-area__developer {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-area__developer-direction {
  margin: 0px;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-area__social-list {
  display: flex;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-area__social-links:not(:last-child) {
  margin-right: 10px;
}

.team-area__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-area__social-link:hover, .team-area__social-link:focus {
  border-radius: 50%;
  background-color: var(--btm-color);
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-area__social-icon {
  width: 20px;
  height: 20px;
}

.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__title {
  text-align: center;
  padding-bottom: 50px;
}

.clients__list {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.clients__items {
  width: 170px;
  height: 90px;
}

.clients__items:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border-color: var(--btm-color);
  fill: var(--btm-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-1 {
  width: 44px;
  height: 48px;
}

.icon-2 {
  width: 40px;
  height: 52px;
}

.icon-3 {
  width: 40px;
  height: 42px;
}

.icon-4 {
  width: 80px;
  height: 42px;
}

.icon-5 {
  width: 60px;
  height: 48px;
}

.icon-6 {
  width: 88px;
  height: 46px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-contact {
  width: 230px;
  margin-right: 70px;
}

.footer-social {
  height: 100%;
  padding-top: 12px;
}

.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social__list {
  display: flex;
  margin-top: 20px;
}

.footer-social__links:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link .footer-social__link-icon {
  fill: #ffffff;
}

.footer-social__link-icon {
  width: 20px;
  height: 20px;
}

.buttons__list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 0px;
  padding: 0px;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.buttons__link {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__link:hover, .buttons__link:focus {
  color: #ffffff;
  background-color: var(--btm-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category__list {
  margin-top: 50px;
  margin-bottom: 94px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.category__items {
  flex-basis: calc((100% - 90px) / 3);
  background: #ffffff;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: 30px;
}

.category__items:hover, .category__items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.category__text-container {
  border: 1px solid #eeeeee;
  border-top: none;
  max-width: 370px;
}

.category__img-wrapper {
  position: relative;
  overflow: hidden;
}

.category__overlay {
  position: absolute;
  width: 370px;
  height: 100%;
  top: 0;
  left: 0;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 30px 20px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category__img-wrapper:focus .category__overlay,
.category__img-wrapper:hover .category__overlay {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category__text-title {
  padding-left: 24px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.category__text-name {
  margin-top: 4px;
  padding-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: white;
}

.modal__close-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btm:focus, .modal__close-btm:hover {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  padding-left: 48px;
  padding-top: 39px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 32px;
}

.modal__form-field {
  margin-top: 10px;
  font-style: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal__form-input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-name {
  width: 12px;
  height: 12px;
}

.icon-modal-tel {
  width: 13px;
  height: 13px;
}

.icon-modal-mail {
  width: 15px;
  height: 12px;
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal__form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-check-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-style: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-check-desc::before {
  display: block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}

.modal__form-term:checked + .modal__form-check-desc::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../images/modal/ok.svg");
}

.modal__link {
  color: var(--accent-color);
}

.modal__form-btn {
  width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  align-self: center;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--btm-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--btm-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn:focus, .modal__form-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */