.about-area {
  text-align: center;

  &__list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
    padding-left: 0px;
  }

  &__link:not(:last-child) {
    padding-right: 30px;
  }

  &__link {
    position: relative;
  }

  &__text-container {
    position: absolute;

    display: flex;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    align-items: center;
    justify-content: center;

    bottom: 0;
  }

  &__text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
