.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients {
  &__title {
    text-align: center;
    padding-bottom: 50px;
  }

  &__list {
    margin: 0;
    padding: 0;

    display: flex;
    text-align: center;
  }

  &__items {
    width: 170px;
    height: 90px;
  }

  &__items:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus,
  &__link:hover {
    border-color: var(--btm-color);
    fill: var(--btm-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-1 {
  width: 44px;
  height: 48px;
}

.icon-2 {
  width: 40px;
  height: 52px;
}
.icon-3 {
  width: 40px;
  height: 42px;
}
.icon-4 {
  width: 80px;
  height: 42px;
}
.icon-5 {
  width: 60px;
  height: 48px;
}
.icon-6 {
  width: 88px;
  height: 46px;
}
