.features {
  padding-top: 60px;
  padding-bottom: 60px;

  &-area {
    &__item {
      max-width: 100%;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__link {
      width: 100%;
      height: 120px;
      margin-bottom: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #f5f4fa;
      border-radius: 4px;
    }
    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;
    }
    &__text {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}

@media screen and (min-width: 768px) {
  .features-area {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }

    &__item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-area {
    &__list {
      display: flex;
    }

    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      border-radius: 4px;
    }
  }
}

/*
.features {
  padding: 0%;

  &-area {
    margin-bottom: 94px;
  }

  &-area__list {
    margin: 0px;
    padding-left: 0px;
    margin-top: (-1 * var(--features-margtop));

  display: flex;
  }

  &-area__item:not(:last-child) {
    margin-right: 30px;
  }

  &-area__link {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }

  &-area__icon {
    width: 70px;
    height: 70px;
  }

  &-area__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &-area__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
*/
