.features {
  padding: 0%;

  &-area {
    margin-bottom: 94px;
  }

  &-area__list {
    margin: 0px;
    padding-left: 0px;
    /*margin-top: (-1 * var(--features-margtop));*/

    display: flex;
  }

  &-area__item:not(:last-child) {
    margin-right: 30px;
  }

  &-area__link {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }

  &-area__icon {
    width: 70px;
    height: 70px;
  }

  &-area__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &-area__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
