.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &-container {
    text-align: center;
  }

  &__logo-container {
    margin-bottom: 20px;
  }
}

.footer-social {
  margin-bottom: 60px;

  &__title {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__links:not(:last-child) {
    margin-right: 10px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    &-icon {
      fill: #ffffff;
      transition: fill var(--transition-duration)
        var(--transition-timing-function);
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  & > li:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &-container_tablet {
      display: flex;
      justify-content: space-between;
      margin-left: 76px;
      margin-right: 89px;
    }

    &-social {
      margin-top: 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &-container {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }

    &-container_tablet {
      align-items: baseline;
      margin-right: 93px;
      margin-left: 0px;
    }

    &-social__title {
      width: 100%;
      text-align: left;
    }

    &-contact {
      margin-left: 0;
      margin-right: 70px;
      text-align: left;
    }

    &-active-form {
      display: inline-flex;
    }

    &-active__title {
      text-align: left;
    }

    &-active__user-mail {
      width: 358px;
      margin-right: 12px;
    }

    &__logo-container {
      display: flex;
    }

    &-active__mail {
      display: flex;
    }
  }

  .address {
    padding-left: 0;
  }
}
