.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  max-height: 80px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  display: flex;
  padding-left: 0;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__item {
    position: relative;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--btm-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current::after {
  position: absolute;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;

  opacity: 1;
}

.contact {
  margin: 0px;
  display: flex;
  align-items: center;
  margin-left: auto;

  &__mail {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
    margin-left: auto;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail:hover,
  &__mail:focus {
    color: var(--btm-color);
    fill: var(--btm-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon_mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }

  &__tel {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__tel:hover,
  &__tel:focus {
    color: var(--btm-color);
    fill: var(--btm-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon_tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
