.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-area {
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }

  &__item:not(:first-child) {
    margin-top: 30px;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__info-container {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__developer {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  &__developer-direction {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }

  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-links:not(:last-child) {
    margin-right: 10px;
  }

  &__social-link > svg {
    fill: var(--link-social-color);
    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__social-link:hover,
  &__social-link:focus {
    background-color: var(--btm-color);
  }

  &__social-link:hover &__social-icon,
  &__social-link:focus &__social-icon {
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .team-area {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }

    &__item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-area {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      margin-bottom: 50px;
      font-size: 26px;
      line-height: 1.17;
    }

    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }

    &__info-container {
      padding-bottom: 30px;
    }
  }
}

/*
.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-area {
  &__title {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -50px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  &__item {
    flex-basis: calc((100% / 4) - 30px);
    margin-right: 30px;
    margin-top: 50px;

    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__info-container {
    margin-top: 30px;
    text-align: center;
  }

  &__developer {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__developer-direction {
    margin: 0px;

    font-size: 16px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #757575;
  }

  &__social-list {
    display: flex;

    padding-left: 0px;
    align-items: center;
    justify-content: center;

    margin-top: 16px;
    margin-bottom: 30px;
  }

  &__social-links:not(:last-child) {
    margin-right: 10px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-link:hover,
  &__social-link:focus {
    border-radius: 50%;
    background-color: var(--btm-color);
    fill: #ffffff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-icon {
    width: 20px;
    height: 20px;
  }
}
*/
