.address {
  padding: 0px;
  display: block;
  margin: 0px;
  height: 100%;

  &__list {
    display: block;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
  }

  &__item:not(:first-child) {
    margin-top: 9px;
  }
}

.address__link {
  &_geo {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &_mail-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
