.address {
  &__list {
    margin-bottom: 60px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__link_geo {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__link_mail-tel {
    color: rgba(255, 255, 255, 0.6);
  }
}
