.logo {
  margin-right: 93px;

  &__web {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
  }

  &__studio {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
}
