:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --btm-color: #2196f3;
  --main-color: #212121;
  --features-margtop: 10px;
  --features-margleft: 30px;
  --accent-color: #2196f3;
}
